body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .main-container-2{
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.97);
    display: flex;
    justify-content: center;
    align-items: center;
   position: fixed;
z-index: 3;
opacity: 0;
transition: 0.5s;
pointer-events: none;
    
    }
    .main-container-2 .truqitos{
        display: flex;
        position: absolute;
        width: 34.8%;
        height: 100vh;
        left: 0%;
    }
    .main-container-2 .truqitos1{
        display: flex;
        position: absolute;
        width: 34.8%;
        height: 100vh;
        right: 0%;
    }
    .main-container-2 .truqitos2{
        display: flex;
        position: absolute;
        width: 30%;
        height: 14vh;
        bottom: 0%;
        left: 35%;
    }
    .main-container-2 .truqitos3{
        display: flex;
        position: absolute;
        width: 30%;
        height: 14vh;
        top: 0%;
        left: 35%;
     
    
    
    }
    .main-container-2 .recordatorio{
        display: flex;
        position: absolute;
        width: 25%;
        height: 12vh;
        background: rgba(255, 255, 255, .25);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        top: 1%;
        left: 37.5%;
        justify-content: center;
        transition: 0.5s;
align-items: center;
text-align: center;
font-size: 1vw;
border-radius: 1vw;
font-weight: 600;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .main-container-2 .container-login {
        width: 30%;
        height: 70%;
        display: flex;
        flex-direction: column;
        color:black;
      background: rgba(255, 255, 255, .25);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border: 1.5px solid rgba(209, 213, 219, 0.3);
      border-radius: 1vw;
      transition: 0.5s;
    }
    .main-container-2 .container-login-new{
        width: 30%;
        height: 70%;
        display: flex;
        flex-direction: column;
        color:black;
      background: rgba(255, 255, 255, .25);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border: 1.5px solid rgba(209, 213, 219, 0.3);
      border-radius: 1vw;
      opacity: 0;
      position: absolute;
    transition: 0.5s;
    pointer-events: none;
    }
    .container-login-new .put-input{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .container-login-new .put-title{
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.75VW;
        font-weight: 700;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    .container-login-new .put-logo{
        width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .container-login-new .put-text{
    
        display: flex;
        width: 100%;
        height: 5%;
        justify-content: center;
        align-items: center;
        font-size: 1vw;
    
    }
    .container-login-new .final{
    
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.2vw;
        color: rgb(18, 17, 17);
    
    }
    .container-login .put-logo{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .put-logo .img{
        width: 30%;
        height: 100%;
    }
    .container-login .put-title{
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.75VW;
        font-weight: 700;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .container-login .put-input{
    width: 100%;
    height: 15%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    }
    .put-input .inp{
        width: 80%;
        height: 60%;
        border-radius:0.5VW ;
       background: rgba(255, 255, 255, 0);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border: 0.2vw solid rgba(124, 137, 157, 0.3);
        color: black;
        font-size: 1vw;
        outline: none;
        transition: 0.5s;
        
    }
    .inp:focus{
        outline: solid rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    }
    .container-login .put-text{
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    
    }
    .put-logo .img{
        width: 40%;
        height: 100%;
    }
    .container-login .final{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.2vw;
        color: rgb(18, 17, 17);
    }
    .final .btn{
        font-size: 0.8vw;
        background: rgba(255, 255, 255, 0.377);
        border: 0.2vw solid rgba(124, 137, 157, 0.486);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        transition: 0.4s;
    
    }
    .btn:hover{
    background-color:rgba(255, 255, 255, 0.7); ;
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
        transform: scale(1.2);
        cursor: pointer;
    }
    .ver{
    opacity: 0;
    pointer-events: none;
    
    }
    .aparecer{
        opacity: 1 !important;
        pointer-events: auto !important;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .revoke{
        opacity: 0;
        pointer-events: none;
    }

    @media(orientation:portrait){
        .main-container-2 .truqitos{
            display: flex;
            position: absolute;
            width: 4.5%;
            height: 100vh;
            left: 0%;
        }
        .main-container-2 .truqitos1{
            display: flex;
            position: absolute;
            width: 4.5%;
            height: 100vh;

            right: 0%;
        }
        .main-container-2 .truqitos2{
            display: flex;
            position: absolute;
            width: 90%;
            height: 14.5vh;
            bottom: 0%;
            left: 5%;}
            .main-container-2 .truqitos3{
                display: flex;
                position: absolute;
                width: 90%;
                height: 14.5vh;
                top: 0%;
                left: 5%;}
                .main-container-2 .recordatorio{
                    display: flex;
                    position: absolute;
                    width: 70%;
                    height: 12vh;
                    background: rgba(255, 255, 255, .25);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                    top: 1%;
                    left: 15%;
                    justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.8vh;
            border-radius: 1vh;
                }
        
        
     
        .main-container-2 .container-login {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            color:black;
          background: rgba(255, 255, 255, .25);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          border: 1.5px solid rgba(209, 213, 219, 0.3);
          border-radius: 1vw;
          transition: 0.5s;
        }
        .main-container-2 .container-login-new{
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            color:black;
          background: rgba(255, 255, 255, .25);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          border: 1.5px solid rgba(209, 213, 219, 0.3);
          border-radius: 1vw;
          opacity: 0;
          position: absolute;
        transition: 0.5s;
        pointer-events: none;
        }

        .container-login-new .put-title{
            width: 100%;
            height: 12%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 2.62Vh;
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        }
        .container-login-new .put-text{
    
            display: flex;
            width: 100%;
            height: 5%;
            justify-content: center;
            align-items: center;
            font-size: 1vh;
            background-color: aqua;
        
        }
        .container-login-new .final{
    
            width: 100%;
            height: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.4vh;
            color: rgb(18, 17, 17);
        
        }
        .container-login .put-title{
            width: 100%;
            height: 12%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 2.62vh;
            font-weight: 700;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .put-input .inp{
            width: 80%;
            height: 60%;
            border-radius:0.5VH ;
           background: rgba(255, 255, 255, 0);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            border: 0.2vw solid rgba(124, 137, 157, 0.3);
            color: black;
            font-size: 1.7vh;
            outline: none;
            transition: 0.5s;
            
        }
        .container-login .put-text{
            display: flex;
            width: 100%;
            height: 5%;
            justify-content: center;
            align-items: center;
            font-size: 2vh;
            
            }
            .container-login .final{
                width: 100%;
                height: 15%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                font-size: 2vh;
                color: rgb(18, 17, 17);
            }
            .final .btn{
                font-size: 1.7vh;
                background: rgba(255, 255, 255, 0.377);
                border: 0.2vw solid rgba(124, 137, 157, 0.486);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 500;
                transition: 0.4s;
            
            }


    }
    